body{
    font-family:sans-serif ;
    color: rgb(54, 69, 79);
}
a{
    color: #0067b8;
    text-decoration: none;
}
h4{
   margin:0 0 1.5% 0;
}
.flex-box{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2% 2% 0 5%;
}
.flex-1{
    flex-grow: 0;
display:flex;
flex-direction:row;
}
.flex-2{
display:flex;
flex-direction: column;
flex-wrap: wrap;
align-items: flex-end;
}
body{
    width:100;
}
.flex-2 img{
    padding: 0 5% 5% 0;
}
.img-1,.img-2{
    padding: 0 5% 5% 0;
}
p{margin-top: 0;
    
    width: 30rem;
}
h4{
    margin-left:67.438px;
}

.bold{
    font-weight: 600;
}


@media (max-width:1170px) {
p{ width:100%;
    
}
.flex-box,.flex-1,.flex-2{
    display: block;}
p{
    width:200px;
}

   img{ clear: both;
    display: block;   
    }
}


@media (min-width:1171px) {

.float-img{
    float: left;
}
}

    